.food-page {
    margin: 50px;
}

.food-page .nav {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
   width: 100%;
}

.food-page .main-header-link {
   margin: 40px;
   color: rgb(228, 225, 53); 
   text-align: center;
   border: 1px solid #ccc;
   border-radius: 10px;
   width: 300px;
   height: 350px;
}

.food-page .main-header-link:hover {
   color: rgb(228, 225, 53); 
   text-decoration: underline;
   box-shadow: 5px 5px 5px rgb(228, 225, 53);
}

.food-page  .active-link {
   font-size: x-large;
   color: rgb(233, 152, 184);
}

.food-page .nav img {
   height: 250px;
   width: 300px;
}