#header-root {
    display: flex;
    flex-direction: row;
    background-color: rgb(228, 225, 53); 
}

#header {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;  
}

#logo {
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#link-section {
    min-width: 85vw;
    display: flex;
    flex-direction: row;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 75%;
}

.main-header-link  {
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer; 
    color: white;
    padding: 10px;
}

.main-header-link:hover  {
    text-decoration: underline;
    cursor: pointer; 
    color: white;
    padding: 10px;
}

.active-link {
    font-size: x-large;
}

.header-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 25%;
}

.header-btns button {
    padding: 5px;
    margin-right: 20px;
}

#search-sign-section {
    min-width: 85vw;
    height: 40%;
    display: flex;
    flex-direction: row;
}

.search {
    width: 75%;
    display: flex;
    justify-content: center;
}

.search input {
    width: 40%;
    padding: 5px;
}

.search button {
    margin-left: 20px;
}

.user-fav-basket {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

